@import "bootstrap-sprockets";
@import "bootstrap";
@import "welcome";
@import "user_signup";
@import "homes";

body{
  /*background-color: #D6D6D6;*/
}

.clear{
  margin-bottom: 5px;
  clear: both;
}

.spacer5{
  margin-bottom: 5px;
}
.spacer10{
  margin-bottom: 10px;
}
.spacer15{
  margin-bottom: 15px;
}
.spacer20{
  margin-bottom: 20px;
}

.clearboth{
  clear: both;
}

.bdr{
  border-bottom: 1px solid lightgray;
}

.floatL{
  float: left;
}

.floatR{
  float: right;
}

.growl-notification{
  position:fixed;
  z-index:5000;
  right: 350px;
  top: 5px;
  min-width:600px;
}
