.question-btn{
  border: 1px solid #286090;
  font-size: 20px;
  min-width: 400px;
  padding: 12px;
}

.lft-feature-bar{
  background-color: #C0C0C0;
  min-height: 620px;
  .feature-hdr-lbl{
    margin: 4px 15px;
    padding: 5px 10px;
  }
  .feature-lbl{
    background-color: #ffffff;
    border: 1px solid #d3d3d3;
    border-radius: 4px;
    margin: 4px 15px;
    padding: 5px 10px;
    cursor: pointer;
  }
}

.rght-feature-bar{
  background-color: #d6d6d6;
  min-height: 600px;
  padding: 10px 0px 10px 200px;
}
.circle-contaner{
  float: left;
  min-width: 625px;
}

.next-button{
  padding: 14px 60px;
  background-color: #ebebeb;
  border: 2px solid;
  border-radius: 3px;
  float: left;
  color: black;
  margin-left: -25px;
  margin-top: 270px;
  &:hover{
    border: 2px solid, #000000;;
    color: #000000;
    text-decoration: none !important;
  }
}


.feature-close{
  color: #000000;
  cursor: pointer;
  float: right;
  font-size: 18px;
  font-weight: bold;
  line-height: 1;
  margin-right: -2px;
  margin-top: -3px;
  opacity: 0.2;
  text-shadow: 0 1px 0 #ffffff;
}

.non-interested-circle:before, .non-interested-circle:after{
  box-sizing: border-box;
}

.non-interested-circle{
  background-color: #ebebeb;
  border-radius: 331px;
  max-height: 600px;
  max-width: 625px;
  min-height: 600px;
  padding: 125px;
}

.non-interested-circle {
  .non-interested-feature{
    background-color: #ffffff;
    border: 1px solid #d3d3d3;
    border-radius: 3px;
    float: left;
    max-width: 120px;
    min-width: 120px;
    padding: 8px 5px;
    word-wrap: break-word;
    font-size: 12px;
  }
  .non-interested-feature:before, .non-interested-feature:after{
    box-sizing: border-box;
  }
  .non-interested-feature:nth-child(1){
    margin-top: -40px;
    margin-left: -25px
  }
  .non-interested-feature:nth-child(2){
    margin-bottom: 42px;
    margin-left: 130px;
    margin-top: -80px;
  }
  .non-interested-feature:nth-child(3){
    margin-bottom: 40px;
    margin-left: 280px;
    margin-top: -35px;
  }
  .non-interested-feature:nth-child(4){
    margin-bottom: 56px;
    margin-right: -90px;
    margin-top: -10px;
    float: right;
  }
  .non-interested-feature:nth-child(5){
    float: right;
    margin-right: -146px;
    margin-top: 60px;
  }
  .non-interested-feature:nth-child(6){
    float: right;
    margin-right: -148px;
    margin-top: 155px;
  }
  .non-interested-feature:nth-child(7){
    float: right;
    margin-right: -128px;
    margin-top: 220px;
  }
  .non-interested-feature:nth-child(8){
    float: right;
    margin-right: -75px;
    margin-top: 285px;
  }
  .non-interested-feature:nth-child(9){
    float: right;
    margin-right: 35px;
    margin-top: 340px;
  }
  .non-interested-feature:nth-child(10){
    float: left;
    margin-left: -18px;
    margin-top: 300px;
  }
  .non-interested-feature:nth-child(11){
    float: left;
    margin-left: -185px;
    margin-top: 240px;
  }
  .non-interested-feature:nth-child(12){
    float: left;
    margin-left: -216px;
    margin-top: 178px;
  }
  .non-interested-feature:nth-child(13){
    float: left;
    margin-left: -225px;
    margin-top: 116px;
  }
  .non-interested-feature:nth-child(14){
    float: left;
    margin-left: -215px;
    margin-top: 50px;
  }
  .non-interested-feature:nth-child(15){
    float: left;
    margin-left: -185px;
    margin-top: -18px;
  }
}

.interested-circle:before, .interested-circle:after{
  box-sizing: border-box;
}

.interested-circle{
  background-color: #ffffff;
  border-radius: 331px;
  max-height: 350px;
  min-width: 375px;
  max-width: 375px;
  min-height: 350px;
  position: absolute;
  z-index: 0px;
}

.interested-circle {
  position: absolute;
  z-index: 0px;
  .interested-feature{
    background-color: #ebebeb;
    border: 1px solid #d3d3d3;
    border-radius: 3px;
    float: left;
    font-size: 12px;
    min-width: 110px;
    padding: 4px 6px;
    position: relative;
    word-wrap: break-word;
  }
  .interested-feature:before, .interested-feature:after{
    box-sizing: border-box;
  }

  .interested-feature:nth-child(1){
    margin-left: 130px;
    margin-right: 130px;
    margin-top: 20px;
  }
  .interested-feature:nth-child(2){
    float: left;
    margin-left: 75px;
    margin-top: 18px;
  }
  .interested-feature:nth-child(3){
    float: left;
    margin-left: 6px;
    margin-top: 18px;
  }
  .interested-feature:nth-child(4){
    margin-left: 18px;
    margin-top: 18px;
    float:left;
  }
  .interested-feature:nth-child(5){
    margin-left: 4px;
    margin-top: 18px;
    float:left;
  }
  .interested-feature:nth-child(6){
    float: right;
    margin-right: 20px;
    margin-top: 18px;
  }
  .interested-feature:nth-child(7){
    margin-left: 18px;
    margin-top: 18px;
    float:left;
  }
  .interested-feature:nth-child(8){
    margin-left: 4px;
    margin-top: 18px;
    float:left;
  }
  .interested-feature:nth-child(9){
    margin-right: 18px;
    margin-top: 18px;
    float:right;
  }
  .interested-feature:nth-child(10){
    margin-left: 18px;
    margin-top: 18px;
    float:left;
  }
  .interested-feature:nth-child(11){
    margin-left: 4px;
    margin-top: 18px;
    float:left;
  }
  .interested-feature:nth-child(12){
    margin-right: 18px;
    margin-top: 18px;
    float:right;
  }
  .interested-feature:nth-child(13){
    margin-left: 70px;
    margin-top: 18px;
    float:left;
  }
  .interested-feature:nth-child(14){
    margin-left: 6px;
    margin-top: 18px;
    float:left;
  }
  .interested-feature:nth-child(15){
    margin-left: 140px;
    margin-top: 18px;
    float:left;
  }
}

.refine-features-block{
  background-color: #d6d6d6;
  min-height: 620px;
}

.txt-hdr{
  font-size: 20px;
  font-weight: bold;
}


.feature-number-lbl{
  background-color: #ebebeb;
  border: 2px solid #ffffff;
  border-radius: 15px;
  height: 32px;
  padding: 5px;
  text-align: center;
  width: 32px;
}

.next-top3-button{
  background-color: #ebebeb;
  border: 2px solid;
  border-radius: 3px;
  color: #000000;
  float: left;
  padding: 14px 60px;
  margin-top: 18px;
  &:hover{
    border: 2px solid, #000000;;
    color: #000000;
    text-decoration: none !important
  }
}


.top-feature-block{
  padding-left: 2px;
  padding-right: 2px;
}

.feature-top1-lbl, .feature-top2-lbl, .feature-top3-lbl{
  background-color: #ffffff;
  border-radius: 3px;
  color: #000000;
  float: left;
  margin: 18px -10px;
  padding: 16px 15px;
  width: 100%
}

.thankyou-box{
  font-size: 25px;
  font-weight: bold;
  margin-top: 80px;
  text-align: center;
}

.report-table{
  font-size: 13px;
  th, td{
    text-align: center;
  }
  td:first-child{
    text-align: left;
    padding-left: 12px;
  }
}

.table-top-row-txt{
  font-weight: normal;
  padding-bottom: 16px !important;
  padding-top: 0 !important;
  text-align: left !important;
  font-size: 13px;
}

.interesting-lbl{
  color: #c0c0c0;
  margin-left: 160px;
  margin-top: 328px;
  width: 95px;
}

.not-interesting-lbl{
  color: #c0c0c0;
  margin-left: 160px;
  margin-top: 450px;
  width: 95px;
}
